@import '../../../../theme.scss';

.passwordConfirmation {
  max-width: 500px;
}

.auth-form {

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.auth-form mat-form-field {
  min-width: 150px;
  width: 100%;
}

.form-buttons {
  margin-top: 30px;
}

.form-buttons mat-spinner {
  display: inline
}

h5.form-error {
  color: $warn

}

.authInfo {
  text-align: center;
}

.form-buttons {
  text-align: center;
}
