<app-layout>
  <div page-title>{{ authFunction }}</div>

  <div no-sidebar-main-content>
    <div class="auth-form-container">
      <form [formGroup]="authForm" class="auth-form" (ngSubmit)="submitAuthForm()">
        <h2>{{ authFunction }}</h2>
        <h5 class="form-error" *ngIf="formError">Error: {{ formError }}</h5>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email Address">
          <mat-error *ngIf="authForm.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Min 6 characters">
          <input type="password" matInput formControlName="password" placeholder="Password">
          <mat-error *ngIf="authForm.controls['password'].hasError('minlength') || authForm.controls['password'].hasError('required')">
            Please enter at least 6 characters
          </mat-error>
        </mat-form-field>
        <div class="form-buttons">
          <button mat-raised-button color="primary" [disabled]="authForm.invalid || formLoading">
            <span *ngIf="!formLoading">
              {{ authFunction }}
            </span>
            <span *ngIf="formLoading">
              Loading
            </span>
          </button>
          <button mat-raised-button color="primary" (click)="forgotPassword($event)" *ngIf="authFunction === 'Sign In'">
            Forgot Password
          </button>
        </div>
      </form>
      <div class="authInfo" *ngIf="authFunction === 'Sign Up'">
        Already have an account? <a [routerLink]="['/signin']">Click here to sign in</a>
      </div>
      <div class="authInfo" *ngIf="authFunction === 'Sign In'">
        Need an account? <a [routerLink]="['/signup']">Click here to sign up</a>
      </div>
    </div>
  </div>
</app-layout>
