<app-layout>
  <div page-title>All Categories</div>
  <div class="app-main-content" main-content>
    <div class="split-view">
      <div class="category-list">
        <app-category-item *ngFor="let category of categories | async" [category]="category" (noteClicked)="clickedNote($event)" (deleteCategoryClicked)="deleteCategory($event)"></app-category-item>
      </div>
      <div class="note-view">
        <app-note-render [note]="selectedNote | async" *ngIf="(selectedNote | async)" (deleteNoteClicked)="deleteNote($event)"></app-note-render>
      </div>
    </div>
  </div>
</app-layout>
