.split-view {
  display: flex;
}
.split-view div {
  width: 50%;
  margin: 10px;
  flex: 1 1 auto;
}

@media screen and (max-width: 600px) {
  .split-view div {
    width: 100%;
    margin: 10px;
    flex: 1 1 auto;
  }
}
