<mat-table *ngIf="!collapsed" class="notes-list mat-elevation-z5" [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let note">{{ note.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="preview">
    <mat-header-cell *matHeaderCellDef>Preview</mat-header-cell>
    <mat-cell *matCellDef="let note">{{ note.preview }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="updated">
    <mat-header-cell *matHeaderCellDef>Updated</mat-header-cell>
    <mat-cell *matCellDef="let note">{{ note.updated_at | date }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="noteClicked.emit(row.id)"></mat-row>
</mat-table>
