<app-layout>
  <div page-title *ngIf="category | async as cat">Category: {{ cat.name }}</div>
  <div class="app-main-content" main-content>
    <div class="split-view">
      <div class="category-list">
        <app-category-item [category]="category | async" (noteClicked)="clickedNote($event)" *ngIf="(category | async)" (deleteCategoryClicked)="deleteCategory($event)"></app-category-item>

        <button mat-button color="primary" [routerLink]="['/notes']" class="back-arrow">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="note-view" *ngIf="(selectedNote | async)">
        <app-note-render [note]="selectedNote | async" *ngIf="(selectedNote | async).body" (deleteNoteClicked)="deleteNote($event)"></app-note-render>
      </div>
    </div>
  </div>
</app-layout>
