<app-layout>
  <div class="app-main-content" main-content>
    <div class="split-view">
      <div class="category-list">
        <button mat-icon-button [routerLink]="['/notes']">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <app-category-item [category]="category | async" (noteClicked)="clickedNote($event)" *ngIf="(category | async)" (deleteCategoryClicked)="deleteCategory($event)"></app-category-item>
      </div>
      <div class="note-view">
        <app-note-render [note]="selectedNote | async" *ngIf="(selectedNote | async)" (deleteNoteClicked)="deleteNote($event)"></app-note-render>
      </div>
    </div>
  </div>
</app-layout>
