@import '../../../../theme.scss';

h1 {
  // background: white;
  color: $primary;
  border-bottom: 3px solid $accent;
  margin: 0 0 10px;
  padding: 20px 10px;
}

.icon {
  vertical-align: middle !important;
  padding-bottom: 3px;
  padding-right: 5px;
}

.subheader {
  color: #666
}

.subheader a {
  cursor: pointer;
  color: #666;
  text-decoration: none;
}

.subheader a:hover {
  color: #999;
}
