
.app-toolbar {
  z-index: 30
}

.toolbar-spacer {
  flex: 1 1 auto;
}


.app-subtitle {
  padding-left: 20px;
}

h1.app-title-name.app-toolbar-name {
  margin-left: 20px;
  cursor: pointer;
}

.add-fab {
  margin-right: 30px;
  position: relative;
  right: 20%;
  display: block;
}
@media (max-width: 700px) {
  .add-fab {
    display: none;
  }
}
