<div class="app-home-view">
  <app-layout [sidebarStartsOpen]="true">

    <div sidenav-content>
      <app-category-list [categories]="categories" (categorySelected)="categorySelected($event)"></app-category-list>
    </div>

    <div page-title>
      <span *ngIf="(selectedCategory | async) as selected">
        Showing Category: {{ selected.name }}
      </span>
      <span *ngIf="!(selectedCategory | async)">
        Showing All Notes
      </span>
    </div>

    <div class="app-main-content" main-content>
      <mat-card class="doggo-card" *ngFor="let content of fillerContent">
          <mat-card-header>
            <div mat-card-avatar class="doggo-card-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

  </app-layout>

</div>
