.create-note {
  display: flex;
  margin-top: 10px 5px 0 5px;
}

.create-note div {
  width: 50%;
  margin: 10px;
}

@media (max-width: 800px) {
  .create-note {
    flex-wrap: wrap;
  }
  .create-note div {
    width: 100%;
    margin: 10px;
  }
}
