.split-view {
  display: flex;
  margin: 0 5px;
}

.split-view div {
  width: 48%;
  margin: 10px;
}

.note-view {
  order: 2;
}

@media (max-width: 800px) {
  .split-view {
    flex-wrap: wrap;
  }
  .split-view div {
    width: 100%;
    margin: 10px;
  }
  .note-view {
    order: -1;
  }
}

button.back-arrow {
  margin-top: 10px;
}

