<app-layout>
  <div page-title *ngIf="note | async as theNote">Note: {{ theNote.title }}</div>

  <div class="app-main-content" main-content>
    <div class="split-view">
      <div class="category-list">

        <app-category-item [category]="category | async" (noteClicked)="clickedNote($event)" *ngIf="(category | async)"></app-category-item>

        <button mat-icon-button [routerLink]="['/notes']">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="note-view">
        <app-note-render [note]="note | async" *ngIf="(note | async)" (deleteNoteClicked)="deleteNote($event)"></app-note-render>
      </div>
    </div>
  </div>
</app-layout>
