@import '../../../../../theme.scss';

div.actions {
  float: right;
  color: $subheader;
}

h3 {
  color: $primary;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.4em;
  padding-bottom: 10px;
  border-bottom: 1px solid $primary;
}

.delete-button:hover {
  color: $warn;
}

.mat-icon {
  float: right;
  line-height: 1.4em;
}
