<div class="layout" [class.app-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="app-toolbar mat-elevation-z8">
    <button mat-icon-button (click)="menuButtonClicked()" *ngIf="sidebarEnabled">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-title-name app-toolbar-name" [routerLink]="['/notes']">
        mdNote
    </h1>
    <span class="app-subtitle">
      <ng-content select="[page-title]"></ng-content>
    </span>
    <span class="toolbar-spacer"></span>
    <!-- <span class="app-search">
      <form #searchForm="ngForm" (ngSubmit)="submitSearch()">
        <mat-form-field>
          <input matInput placeholder="search" floatPlaceholder="never" name="search" [(ngModel)]="searchString">
        </mat-form-field>
      </form>
    </span> -->
    <span class="toolbar-spacer"></span>
    <button mat-mini-fab color="accent" [routerLink]="['/notes','new']" class="add-fab" *ngIf="authenticated | async">
      <mat-icon>add</mat-icon>
    </button>
<!--
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button> -->


    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="signout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidebar-container" *ngIf="sidebarEnabled">

    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="sidebar | async" class="app-sidebar">
      <!-- sidebar projected here -->
      <!-- sidebar
      <ng-content select="[sidenav-content]">
      </ng-content> -->
      <app-sidebar-container></app-sidebar-container>

    </mat-sidenav>

    <mat-sidenav-content class="app-main-content">

      <!-- main content projected here -->
      <ng-content select="[main-content]">
      </ng-content>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <div *ngIf="!sidebarEnabled">
    <!-- main content projected here for pages without sidebars -->
    <ng-content select="[no-sidebar-main-content]"></ng-content>
  </div>
</div>
