<div class="split-view">
  <div class="category-list">
    <app-category-list-item
      [category]="(selectedCategory | async)"
      [collapsed]="false"
      (categoryClicked)="categoryClicked($event)"
      (noteClicked)="selectNote($event)"
      (deleteCategoryClicked)="deleteCategory($event)"
    ></app-category-list-item>
  </div>
  <div class="note-view">
    <app-note-show *ngIf="selectedNote | async" [note]="selectedNote | async" (deleteNote)="deleteNote($event)">

    </app-note-show>
  </div>
</div>
